@font-face {
  font-family: 'IBM';
  src: url("../fonts/IBMARABIC/IBMPlexSansArabic-Light.ttf");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'IBM';
  src: url("../fonts/IBMARABIC/IBMPlexSansArabic-Regular.ttf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'IBM';
  src: url("../fonts/IBMARABIC/IBMPlexSansArabic-Medium.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'IBM';
  src: url("../fonts/IBMARABIC/IBMPlexSansArabic-Bold.ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'IBM';
  src: url("../fonts/IBMARABIC/IBMPlexSansArabic-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'IBM';
  src: url("../fonts/IBM ARABIC/IBMPlexSansArabic-SemiBold.ttf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'ReadexPro';
  src: url("../fonts/ReadexPro/ReadexPro-Light.ttf");
  font-weight: 300;
  font-style: 300;
}

@font-face {
  font-family: 'ReadexPro';
  src: url("../fonts/ReadexPro/ReadexPro-Regular.ttf");
  font-weight: 400;
  font-style: 400;
}

@font-face {
  font-family: 'ReadexPro';
  src: url("../fonts/ReadexPro/ReadexPro-Medium.ttf");
  font-weight: 500;
  font-style: 500;
}

@font-face {
  font-family: 'ReadexPro';
  src: url("../fonts/ReadexPro/ReadexPro-Bold.ttf");
  font-weight: 600;
  font-style: 600;
}

@font-face {
  font-family: 'ReadexPro';
  src: url("../fonts/ReadexPro/ReadexPro-SemiBold.ttf");
  font-weight: 700;
  font-style: 700;
}

@media (max-width: 630px) {
  html[dir="ltr"] .nav-header .wcag {
    padding: 16px;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
  }
}

@media (max-width: 767px) {
  html[dir="ltr"] .about-section, html[dir="ltr"] .services-section,
  html[dir="ltr"] .videos-section, html[dir="ltr"] .stories-section,
  html[dir="ltr"] .news-section, html[dir="ltr"] .partner-section,
  html[dir="ltr"] .cta-section, html[dir="ltr"] .section-grid,
  html[dir="ltr"] .details-section, html[dir="ltr"] .hero-subpages-details,
  html[dir="ltr"] .faq-section, html[dir="ltr"] .contact-from-section {
    padding: 40px 16px;
  }
  html[dir="ltr"] iframe {
    height: 350px;
  }
  html[dir="ltr"] footer {
    padding: 0px 16px;
  }
  html[dir="ltr"] .hero-subpages .content {
    padding: 40px 28px;
  }
  html[dir="ltr"] .hero-slider {
    padding: 0px 16px;
  }
  html[dir="ltr"] .hero-slider #heroCarousel .item .carousel-caption {
    padding: 80px 0px;
  }
  html[dir="ltr"] .about-stats .stats-box {
    margin-bottom: 24px;
  }
  html[dir="ltr"] .details-section .service-description .description {
    display: block;
  }
  html[dir="ltr"] .details-section .service-description .description .plan-card {
    margin-top: 24px;
  }
  html[dir="ltr"] .about-section .content img {
    margin: 0 auto;
    display: block;
    margin-bottom: 64px;
  }
  html[dir="ltr"] .hero-slider #heroCarousel .item .carousel-caption {
    width: 90%;
  }
  html[dir="ltr"] .hero-slider #heroCarousel .item img {
    display: none;
  }
  html[dir="ltr"] .video-icon {
    margin-top: 2rem;
  }
  html[dir="ltr"] .cta-section .cta-content p {
    margin-bottom: 2rem;
  }
}

@media (min-width: 768px) and (max-width: 834px) {
  html[dir="ltr"] .about-section, html[dir="ltr"] .services-section,
  html[dir="ltr"] .videos-section, html[dir="ltr"] .stories-section,
  html[dir="ltr"] .news-section, html[dir="ltr"] .partner-section,
  html[dir="ltr"] .cta-section, html[dir="ltr"] .section-grid {
    padding: 40px 16px;
  }
}

@media (max-width: 992px) {
  html[dir="ltr"] .form-card, html[dir="ltr"] .contact-from-section .contact-information {
    margin: 0;
  }
  html[dir="ltr"] .stories-section .cards .stories-card,
  html[dir="ltr"] .news-section .cards .news-card {
    margin-bottom: 24px;
  }
  html[dir="ltr"] .hero-slider #heroCarousel .item img {
    display: none;
  }
  html[dir="ltr"] .hero-subpages .page-image, html[dir="ltr"] .hero-subpages .content {
    width: 100%;
  }
  html[dir="ltr"] .hero-subpages .page-image img {
    width: 100%;
    height: 250px;
  }
  html[dir="ltr"] .about-section .content .image-section img {
    width: 100%;
    margin-bottom: 32px;
  }
  html[dir="ltr"] .about-section.bg-neutral-50 .content .image-section img {
    margin-top: 32px;
    margin-bottom: 0px;
  }
  html[dir="ltr"] .contact-from-section .contact-img {
    margin-top: 32px;
  }
}

@media (max-width: 630px) {
  html[dir="rtl"] .nav-header .wcag {
    padding: 16px;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
  }
}

@media (max-width: 767px) {
  html[dir="rtl"] .about-section, html[dir="rtl"] .services-section,
  html[dir="rtl"] .videos-section, html[dir="rtl"] .stories-section,
  html[dir="rtl"] .news-section, html[dir="rtl"] .partner-section,
  html[dir="rtl"] .cta-section, html[dir="rtl"] .section-grid,
  html[dir="rtl"] .details-section, html[dir="rtl"] .hero-subpages-details,
  html[dir="rtl"] .faq-section, html[dir="rtl"] .contact-from-section {
    padding: 40px 16px;
  }
  html[dir="rtl"] iframe {
    height: 350px;
  }
  html[dir="rtl"] footer {
    padding: 0px 16px;
  }
  html[dir="rtl"] .hero-subpages .content {
    padding: 40px 28px;
  }
  html[dir="rtl"] .hero-slider {
    padding: 0px 16px;
  }
  html[dir="rtl"] .hero-slider #heroCarousel .item .carousel-caption {
    padding: 80px 0px;
  }
  html[dir="rtl"] .about-stats .stats-box {
    margin-bottom: 24px;
  }
  html[dir="rtl"] .details-section .service-description .description {
    display: block;
  }
  html[dir="rtl"] .details-section .service-description .description .plan-card {
    margin-top: 24px;
  }
  html[dir="rtl"] .about-section .content img {
    margin: 0 auto;
    display: block;
    margin-bottom: 64px;
  }
  html[dir="rtl"] .hero-slider #heroCarousel .item .carousel-caption {
    width: 90%;
  }
  html[dir="rtl"] .hero-slider #heroCarousel .item img {
    display: none;
  }
  html[dir="rtl"] .video-icon {
    margin-top: 2rem;
  }
  html[dir="rtl"] .cta-section .cta-content p {
    margin-bottom: 2rem;
  }
}

@media (min-width: 768px) and (max-width: 834px) {
  html[dir="rtl"] .about-section, html[dir="rtl"] .services-section,
  html[dir="rtl"] .videos-section, html[dir="rtl"] .stories-section,
  html[dir="rtl"] .news-section, html[dir="rtl"] .partner-section,
  html[dir="rtl"] .cta-section, html[dir="rtl"] .section-grid {
    padding: 40px 16px;
  }
}

@media (max-width: 992px) {
  html[dir="rtl"] .form-card, html[dir="rtl"] .contact-from-section .contact-information {
    margin: 0;
  }
  html[dir="rtl"] .stories-section .cards .stories-card,
  html[dir="rtl"] .news-section .cards .news-card {
    margin-bottom: 24px;
  }
  html[dir="rtl"] .hero-slider #heroCarousel .item img {
    display: none;
  }
  html[dir="rtl"] .hero-subpages .page-image, html[dir="rtl"] .hero-subpages .content {
    width: 100%;
  }
  html[dir="rtl"] .hero-subpages .page-image img {
    width: 100%;
    height: 250px;
  }
  html[dir="rtl"] .about-section .content .image-section img {
    width: 100%;
    margin-bottom: 32px;
  }
  html[dir="rtl"] .about-section.bg-neutral-50 .content .image-section img {
    margin-top: 32px;
    margin-bottom: 0px;
  }
  html[dir="rtl"] .contact-from-section .contact-img {
    margin-top: 32px;
  }
}
