body {
  direction: rtl;
}

* {
  font-family: "IBM", sans-serif;
  text-decoration: none !important;
  margin-bottom: 0px;
}

span, h1, h2, h3, h4, h5, h6, p, a, li, label, button {
  font-family: "IBM", sans-serif;
}

.custom-navbar .navbar-brand {
  margin-right: 0px;
  margin-left: 1rem;
}

.services-section #servicesCarousel .owl-dots {
  float: left;
}

.services-section #servicesCarousel .owl-nav {
  float: right;
}

.videos-section #videosCarousel .owl-dots {
  float: left;
}

.videos-section #videosCarousel .owl-nav {
  float: right;
}

.stories-section #storiesCarousel .owl-dots {
  float: left;
}

.stories-section #storiesCarousel .owl-nav {
  float: right;
}

.news-section #newsCarousel .owl-dots {
  float: left;
}

.news-section #newsCarousel .owl-nav {
  float: right;
}

.form-control {
  direction: rtl;
}

.form-select {
  background-position: left .75rem center;
}

.owl-nav .owl-next, .owl-nav .owl-prev {
  transform: scaleX(1) !important;
}

footer .content .social-link ul li {
  float: right;
  margin-left: 8px;
}

footer .content .tooles-link ul li {
  float: right;
  margin-left: 8px;
}

footer .content .more-bottom-links ul li {
  float: right;
  margin-left: 16px;
}

footer .content .logo-bottom-links ul li {
  list-style: none;
  float: right;
  margin-left: 16px;
}

footer .content .logo-bottom-links ul li:last-child {
  margin-left: 0px;
}

nav .pagination .page-item .Next i.next-io {
  transform: scaleX(-1);
  display: block;
  background-image: url(../images/next.svg);
  height: 20px;
  width: 20px;
}

nav .pagination .page-item .Previous i.previous-io {
  transform: scaleX(-1);
  display: block;
  background-image: url(../images/Previous.svg);
  height: 20px;
  width: 20px;
}

.accordion .accordion-button::after {
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  margin-right: auto;
  margin-left: inherit;
  content: "";
  background-image: url(../images/arrow-down.svg);
  background-repeat: no-repeat;
  background-size: 20px;
  transition: transform .2s ease-in-out;
}
